# Strapi CMS
STRAPI_API_URL=
STRAPI_API_TOKEN=

# Google Analytics
NEXT_PUBLIC_GA_ID=

# Cookiebot
NEXT_PUBLIC_COOKIEBOT_ID=

# ActiveCampaign
ACTIVECAMPAIGN_API_URL=
ACTIVECAMPAIGN_API_KEY=

# Cal.com
NEXT_PUBLIC_CAL_USERNAME=
